{% extends 'simpleblog/base.html'%}
{% block content%}
<style>
body {
	background-image: url("https://s3-us-west-2.amazonaws.com/djangoblog1/media/paper.jpg");
}
</style>
<div class="container">
<br>
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
    	<div class="media">
  			<div class="media-left media-middle">
    			<a href = "https://s3-us-west-2.amazonaws.com/djangoblog1/media/cert.JPG"> 
    			<img src="https://s3-us-west-2.amazonaws.com/djangoblog1/media/cert.JPG" class="media-object" style="width:60px">
    			</a>
  			</div>
  			<div class="media-body">
  				<h4 class="media-heading">
    				AWS Certified Solutions Architect-Associate Working in TEKsystems Global Services Hyderabad</h4>
  			</div>
		</div>
    </div>
  </div>
    
</div>
</br>
</div>

<div class="container">
<br>
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
    	<div class="media">
  			<div class="media-left media-middle">
    			<img src="https://s3-us-west-2.amazonaws.com/djangoblog1/media/python.png" class="media-object" style="width:60px">
  			</div>
  			<div class="media-body">
  				<h4 class="media-heading">
    				Python Programmer. Loves to code in Python. Knows Django and learning Python Data Science Libraries.
    				Have hand-on knowledge of Boto SDK for interacting AWS using Python.</h4>
  			</div>
		</div>
    </div>
  </div>
    
</div>
</br>
</div>


<div class="container">
<br>
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
    	<div class="media">
  			<div class="media-left media-middle">
    			<img src="https://s3-us-west-2.amazonaws.com/djangoblog1/media/img.jpg" class="media-object" style="width:60px">
  			</div>
  			<div class="media-body">
  				<h4 class="media-heading">
    				Loves to play Guitar whenever I'm free from my work</h4>
  			</div>
		</div>
    </div>
  </div>
    
</div>
</br>
</div>



<div class="container">
<br>
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
    	<div class="media">
  			<div class="media-left media-middle">
    			<a href = "https://s3-us-west-2.amazonaws.com/djangoblog1/media/qr.jpg"> 
    			<img src="https://s3-us-west-2.amazonaws.com/djangoblog1/media/qr.jpg" class="media-object" style="width:60px">
    			</a>
  			</div>
  			<div class="media-body">
  				<h4 class="media-heading">
    				<<<-----Contact</br>
    				Click to Enlarge</h4>
  			</div>
		</div>
    </div>
  </div>
    
</div>
</br>
</div>

{%endblock content%}