<!DOCTYPE html>
{%load staticfiles%}


<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
			<div class="navbar-header page-scroll">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#target">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

		    </div>
			<!--<div id="navbar" class="navbar-collapse collapse">-->
			<div class="collapse navbar-collapse" id="target">
	          <ul class="nav navbar-nav">
	          	  <li><a href="{% url 'profile'%}">Portfolio</a></li>
				  <li><a href="{% url 'postlist'%}">My Gallery </a></li>
				  <li><a href="{% url 'projects' %}">My Projects </a></li>
				  <li><a href="{%url 'newpost'%}"favourites">Add New Sketch</a></li>
				  <li><a href="{% url 'about'%}">About</a></li>
	          </ul>
	          </div>
	        <!--</div>-->

	       
  		</div><!-- End Container-->
  	</nav><!-- End navbar -->

{% block content %}
{% endblock content %}
</body>
</html>
