{% extends 'simpleblog/base.html' %} 
{% block content%}

<div class="container scroll-buffer">
  		<section>
			<div class="page-header">
  				<h2>MY PROJECTS<br><small>Here are some of the projects I have worked and some new things I'm working on. </small></h2>
  			</div>
  			</section>
			<div class="row">
				<div class="col-xs-12">
					<h1>This Blog</h1>
				</div>
			</div>

  			<div class="row">
  				<div class="col-md-12">
					<h3>First Django Application</h3>
					<p class="center">
						<b>Started Learning Python. But only learning was not enough. So decided to make a web app out of Python.</br>
						<h3>Functionalities provided in this Blog:</h3>
						<ul>
							<li>Dynamic Sketch Uploads to AWS S3 Bucket</li>
							<li>Deployment on AWS EC-2 Instance using Nginx Web Server</li>
						</ul>

						Followed this youtube channel to know about Django and make something realtime.</b>
						<center>
						<iframe width="640" height="360" src="https://www.youtube.com/embed/5yNgTFYmxpM?list=PLei96ZX_m9sWowRU2mn0ccUNIBTTclcWO" frameborder="0" allowfullscreen></iframe>
					</center><br>

					</p>
					<p class="center">
					<b>Rendering the Django content in HTML layout was a new task. Took lot of time. But got great help from lot of sources.</b>
					</p>
					<ul>
						<li><a href="{https://www.codecademy.com}">Codecademy</a></li>
						<li><a href="{https://www.freecodecamp.com/}">FreecodeCamp</a></li>
					</ul>
					<hr></hr>
  				</div>
  				</div>
  				</hr>
  				</div>

  <div class="container scroll-buffer">
	<div class="row">
				<div class="col-xs-12">
					<h1>IOT Enabled Realtime Parking Status System </h1>
				</div>
			</div>

  			<div class="row">
  				<div class="col-md-12">
					<h3> Android+Arduino= Key Product</h3>
					<p class="center">
						<b>Used Arduino as the main controlling Brain, integrated with Bluetooth Serial Module to initiate Serial Communication between Arduino and Android Application. </br>                   
						<h3><u> Won First prize in company and Demo can be seen in the Video</u> </h3>
						<center>
						<iframe width="640" height="360" src="https://www.youtube.com/embed/ARD33V1D8tY" frameborder="0" allowfullscreen></iframe>
					</center><br>

					</p>
					<p class="center">
					<b>Stack Used:</b>
					</p>
					<ul>
						<li>Arduino Development Board</li>
						<li>Infrared Sensors</li>
						<li>Bluetooth Serial Module and of Course Programming !!</li>
					</ul>
  				</div>
  				</div>
{% endblock content %}